# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
**/venv/
**/env/

# Environment Variables
.env
**/.env


# Django
db.sqlite3
**/db.sqlite3
media/
staticfiles/

# Node / React
node_modules/
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
**/venv/
**/env/

# Environment Variables
.env
**/.env

# Django
db.sqlite3
**/db.sqlite3
media/
staticfiles/

# Node / React
node_modules/
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
